___
<a href='https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html'> <img src='https://www.python.org/static/img/python-logo.png' /></a>
___
# Series

El primer tipo de datos principal sobre el que aprenderemos para Pandas es el tipo de datos Serie. Importaremos Pandas y exploremos el objeto Serie.

Una Serie es muy similar a una matriz NumPy (de hecho, está construida sobre el objeto de matriz NumPy). Lo que diferencia a la matriz NumPy de una serie es que una serie puede tener etiquetas de eje, lo que significa que puede indexarse mediante una etiqueta, en lugar de solo una ubicación numérica. Tampoco necesita contener datos numéricos, puede contener cualquier objeto Python arbitrario.

Exploremos este concepto a través de algunos ejemplos:

In [ ]:
import numpy as np
import pandas as pd

### Creando una Serie

Puedes convertir una lista, una matriz numérica o un diccionario en una serie:

In [ ]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

** Usando Listas**

In [ ]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

** Arrays NumPy **

In [ ]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [ ]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

** Diccionario**

In [ ]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Datos en una Serie

Una serie de Pandas puede contener una variedad de tipos de objetos:

In [ ]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [ ]:
# Incluso funciones (aunque es poco probable que uses esto)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Usando un Index

La clave para usar una serie es comprender su índice. Pandas hace uso de estos nombres o números de índice al permitir búsquedas rápidas de información (funciona como una tabla hash o un diccionario).

Veamos algunos ejemplos de cómo obtener información de una serie. Creemos dos sereis, ser1 y ser2:

In [ ]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Alemania','Rusia', 'Japón'])

In [ ]:
ser1

USA         1
Alemania    2
Rusia       3
Japón       4
dtype: int64

In [ ]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Alemania','Italia', 'Japón'])

In [ ]:
ser2

USA         1
Alemania    2
Italia      5
Japón       4
dtype: int64

In [ ]:
ser1['USA']

1

Las operaciones también se realizan en función del índice:

In [ ]:
ser1 + ser2

Alemania    4.0
Italia      NaN
Japón       8.0
Rusia       NaN
USA         2.0
dtype: float64

Detengámonos aquí por ahora y pasemos a DataFrames, que ampliará el concepto de Series.
# Buen trabajo!